{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #201d1d;
}

header {
    background-color: #a02aab;
    color: white;
    padding: 10px 0;
}

header .logo h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    color: red;
    text-align: center;
    margin: 20px 0;
}

.banner img {
    width: 100%;
    height: auto;
}

.rekomendasi {
    color: rgb(255, 255, 255);
    margin: 20px 10%;
}

.rekomendasi h2 {
    color: rgb(125, 118, 111);
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid .item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.grid .item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}

footer {
    text-align: center;
    background-color: #a02aab;
    color: rgb(126, 102, 102);
    padding: 10px 0;
}
a {
    color:  rgb(96, 89, 89); /* Menetapkan warna teks putih */
    text-decoration: none; /* Menghilangkan garis bawah jika tidak diinginkan */
}

a:visited {
    color: rgb(96, 89, 89); /* Warna tetap putih setelah dikunjungi */
}

a:hover {
    color: white; /* Warna tetap putih saat dihover */
}

a:active {
    color: white; /* Warna tetap putih saat diklik */
}
.copy {
    color: white;
}
